.add_box {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/7078716/pexels-photo-7078716.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-size: cover;
}

.add_name {
  padding: 22px;
  width: 300px;
}

.css-1wc848c-MuiFormHelperText-root {
  margin-bottom: 20px !important;
}
